$tundora: #444444;
$tango: #E97522;
$tundora-black: #4A4A4A;
$mine_shaft: #333333;
$white: #FFFFFF;
$di_serria: #E3985F;
$wild_sand: #F5F5F5;
$atomic_tangerine: #e0b695;
$silver_chalice: #B1B1B1;
$black_haze: #F2F4F4;
$merino: #F9F4EE;
$sidecara:#F5D9C6;
$gray: #838383;
$wild_sand2: #F6F5F5;





/* other color*/



