$tundora: #444444;
$tundora-black: #4A4A4A;
$mine_shaft: #333333;
$white: #FFFFFF;
$wild_sand: #F5F5F5;
$wild_sand2: #F6F5F5;
$di_serria: #E3985F;
$tango: #E97522;
$atomic_tangerine: #e0b695;
$black_haze: #F2F4F4;
$merino: #F9F4EE;
$sidecara:#F5D9C6;
$gray: #838383;
$gray_chateau: #A0A2A6;
$silver: #C1C1C1;
$silver_chalice: #B1B1B1;
$scorpion: #585858;
$vulcan: #121621;






/* other color*/



