@import "color";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,400&display=swap');

.basic {
  max-width: 1240px;
  margin: 0 auto;
}

.buttons1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  color: $tango;
  text-transform: uppercase;
  border: 2px solid $tango;
  border-radius: 10px;
  padding: 8px 24px;
  background-color: $white;
  cursor: pointer;

  &:hover {
    background-color: $tango;
    color: $white;
  }
  &:active {
   background-color: $di_serria;
  }
}

.buttons2 {
  font-family: 'Montserrat';
  padding: 22px 27.5px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  color: $white;
  background: linear-gradient(180deg, #FFA96B -21.43%, #EE7A28 100%);
  cursor: pointer;

  &:hover {
    background: linear-gradient(180deg, #FFA96B 58.75%, #EE7A28 173.44%);
    color: $white;
  }
}

.buttons3 {
  background-color: white;
  padding: 19px 65px;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  font-family: 'sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 138.9%;
  text-align: center;
  letter-spacing: 0.32px;
  color: black;
  cursor: pointer;
  margin-right: 10px;
}


.title-h1 {
  max-width: 791px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 66px;
  line-height: 78px;
  letter-spacing: 3.2px;
  color: $wild_sand;

}

.title-h2 {
  max-width: 748px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  color: $wild_sand;
  margin-top: 52px;
}

.title-h3 {
  max-width: 748px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  color: $mine_shaft;
  margin-top: 52px;
}

.title-h3-margin {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  color: $mine_shaft;
  max-width: 1440px;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 80px;
}

.p-text-header {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: $tundora-black;
}

.p-text {
  max-width: 791px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: $wild_sand;
  margin-top: 24px;

}

a{
  text-decoration: none;
}

.right-button {
  right: 22%;
  background-image: url("../image/our-works/right.svg");

  &:hover {
    background-image: url("../image/our-works/right-white.svg");
  }
}

.left-button {
  left: 22%;
  background-image: url("../image/our-works/left.svg");

  &:hover {
    background-image: url("../image/our-works/left-white.svg");
  }
}






