/* other color*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,400&display=swap");
html, body, divasfasf, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* other color*/
.basic {
  max-width: 1240px;
  margin: 0 auto;
}

.buttons1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  color: #E97522;
  text-transform: uppercase;
  border: 2px solid #E97522;
  border-radius: 10px;
  padding: 8px 24px;
  background-color: #FFFFFF;
  cursor: pointer;
}
.buttons1:hover {
  background-color: #E97522;
  color: #FFFFFF;
}
.buttons1:active {
  background-color: #E3985F;
}

.buttons2 {
  font-family: "Montserrat";
  padding: 22px 27.5px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  background: linear-gradient(180deg, #FFA96B -21.43%, #EE7A28 100%);
  cursor: pointer;
}
.buttons2:hover {
  background: linear-gradient(180deg, #FFA96B 58.75%, #EE7A28 173.44%);
  color: #FFFFFF;
}

.buttons3 {
  background-color: white;
  padding: 19px 65px;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  font-family: "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 138.9%;
  text-align: center;
  letter-spacing: 0.32px;
  color: black;
  cursor: pointer;
  margin-right: 10px;
}

.title-h1 {
  max-width: 791px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 66px;
  line-height: 78px;
  letter-spacing: 3.2px;
  color: #F5F5F5;
}

.title-h2 {
  max-width: 748px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  color: #F5F5F5;
  margin-top: 52px;
}

.title-h3 {
  max-width: 748px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  color: #333333;
  margin-top: 52px;
}

.title-h3-margin {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  color: #333333;
  max-width: 1440px;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 80px;
}

.p-text-header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #4A4A4A;
}

.p-text {
  max-width: 791px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #F5F5F5;
  margin-top: 24px;
}

a {
  text-decoration: none;
}

.arrow {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #E97522;
  -webkit-mask-image: url("../image/icons/arrow.svg");
  mask-image: url("../image/icons/arrow.svg");
  -webkit-mask-size: 23px 47px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.rotate {
  transform: rotate(180deg);
}

.btn-icon {
  width: 73px;
  height: 73px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  position: absolute;
}
.btn-icon:hover {
  background-color: #E97522;
}
.btn-icon:hover i {
  background-color: #FFFFFF;
}

.right-button {
  right: 22%;
  background-image: url("../image/our-works/right.svg");
}
.left-button {
  left: 22%;
  background-image: url("../image/our-works/left.svg");
}
.left-button:hover {
  background-image: url("../image/our-works/left-white.svg");
}

body header {
  width: 100%;
  height: 80px;
  background-color: white;
}
body header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
body header .content .logo {
  display: flex;
  width: 113px;
  height: 36px;
  margin-right: 102px;
}
body header .content .menu {
  display: flex;
  align-items: center;
  margin-right: 102px;
}
body header .content .menu ul {
  display: flex;
}
body header .content .menu ul li {
  align-items: center;
  margin-right: 24px;
}
body header .content .menu ul li a {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #4A4A4A;
  text-decoration: none;
}
body header .content .menu ul li a:hover {
  color: #333333;
}
body header .content .menu ul li a:active {
  color: #E97522;
}
body header .content button {
  margin-right: 24px;
}
body .banner {
  background-color: #444444;
  min-height: 850px;
}
body .banner .content-banner {
  padding: 150px 0 100px;
  display: flex;
  flex-direction: column;
}
body .banner .content-banner > * {
  max-width: 791px;
}
body .banner .content-banner h1 span {
  letter-spacing: 0.2px;
}
body .banner .content-banner button {
  margin-top: 32px;
  max-width: 370px;
}
body .slader-our-work {
  margin-bottom: 60px;
}
body .slader-our-work .slaider-group {
  position: relative;
}
body .slader-our-work .slaider-group > button {
  top: 299px;
}
body .slader-our-work .slaider-group > button.right {
  right: 22%;
}
body .slader-our-work .slaider-group > button.left {
  left: 22%;
}
body .slader-our-work .slaider-group .slider-bottom-controls {
  max-width: 10%;
  margin: auto;
  margin-top: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .slader-our-work .slaider-group .slider-bottom-controls button {
  width: 6px;
  height: 6px;
  background-color: #B1B1B1;
  border: none;
  border-radius: 50%;
  padding: 0;
  margin-right: 7px;
  margin-left: 7px;
  cursor: pointer;
}
body .slader-our-work .slaider-group .slider-bottom-controls button.active-controls {
  width: 12px;
  height: 12px;
  background-color: #E97522;
}
body .slader-our-work .images {
  display: flex;
  overflow: hidden;
}
body .slader-our-work .images img.active {
  width: 40%;
  height: 618px;
  z-index: 1;
}
body .slader-our-work .images img.active-left {
  width: calc(30% + 18px);
  height: 514px;
  margin-top: 53px;
  margin-right: -18px;
}
body .slader-our-work .images img.active-right {
  width: calc(30% + 18px);
  height: 514px;
  margin-top: 53px;
  margin-left: -18px;
}
body .our-location {
  background-image: url("../image/our-location/Line.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -21px;
}
body .our-location .slaider-group {
  position: relative;
}
body .our-location .slaider-group > button {
  top: 128px;
}
body .our-location .slaider-group > button.right {
  right: -3%;
}
body .our-location .slaider-group > button.left {
  left: -3%;
}
body .our-location .slaider-group .images {
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
}
body .our-location .slaider-group .images img {
  width: 33%;
  height: 349px;
  border-radius: 15px;
}
body .our-location .slaider-group .images img:nth-child(2) {
  margin: 0 26px;
}
body .our-location .buttons2 {
  display: block;
  margin: auto;
  padding: 14px 54px;
  margin-bottom: 80px;
}
body .video iframe {
  margin-bottom: 80px;
}
body .grid .grid-body {
  display: grid;
  grid-template: repeat(5, 335px)/repeat(3, 33%);
  margin: 0 -13px;
}
body .grid .grid-item {
  margin: 13px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  position: relative;
}
body .grid .grid-item::after {
  content: "";
  width: 100%;
  height: 300px;
  position: absolute;
  background: linear-gradient(180deg, rgba(25, 25, 25, 0) 53.07%, #191919 121.9%);
  background-size: cover;
  border-radius: 15px;
}
body .grid .grid-item p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 16px 32px;
  z-index: 2;
}
body .grid .grid-item.row_span_2 {
  grid-row-start: span 2;
}
body .grid .grid-item.column_span_2 {
  grid-column-start: span 2;
}
body .grid .grid-item:nth-child(9), body .grid .grid-item:nth-child(10), body .grid .grid-item:nth-child(11) {
  margin-bottom: 0;
}
body .grid .grid-item.grid-item-1 {
  background-image: url("../image/grid/photo1.png");
}
body .grid .grid-item.grid-item-2 {
  background-image: url("../image/grid/photo2.png");
}
body .grid .grid-item.grid-item-3 {
  background-image: url("../image/grid/photo3.png");
}
body .grid .grid-item.grid-item-4 {
  background-image: url("../image/grid/photo4.png");
}
body .grid .grid-item.grid-item-5 {
  background-image: url("../image/grid/photo5.png");
}
body .grid .grid-item.grid-item-6 {
  background-image: url("../image/grid/photo6.png");
}
body .grid .grid-item.grid-item-7 {
  background-image: url("../image/grid/photo7.png");
}
body .grid .grid-item.grid-item-8 {
  background-image: url("../image/grid/photo8.png");
}
body .grid .grid-item.grid-item-9 {
  background-image: url("../image/grid/photo9.png");
}
body .grid .grid-item.grid-item-10 {
  background-image: url("../image/grid/photo10.png");
}
body .grid .grid-item.grid-item-11 {
  background-image: url("../image/grid/photo11.png");
}
body .stages {
  min-height: 1212px;
}
body .stages .content-stages {
  min-height: 1065px;
  background-image: url("../image/stages/Line4.svg");
  background-size: 1065px;
  background-repeat: no-repeat;
  background-position-y: 100px;
  background-position-x: 172px;
  position: relative;
}
body .stages .content-stages .box-stage {
  width: 348px;
  min-height: 190px;
  border: 2px solid #E97522;
  border-radius: 12px;
  position: absolute;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
}
body .stages .content-stages .box-stage:after {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  background-color: #F9F4EE;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #E97522;
}
body .stages .content-stages .box-stage:first-child {
  top: 28px;
}
body .stages .content-stages .box-stage:first-child:after {
  content: "1";
  top: 164px;
  left: -24px;
}
body .stages .content-stages .box-stage:nth-child(2) {
  top: 77px;
  left: 652px;
}
body .stages .content-stages .box-stage:nth-child(2):after {
  content: "2";
  top: 164px;
  left: -24px;
}
body .stages .content-stages .box-stage:nth-child(3) {
  top: 388px;
  left: 180px;
}
body .stages .content-stages .box-stage:nth-child(3):after {
  content: "4";
  top: 164px;
  left: -24px;
}
body .stages .content-stages .box-stage:nth-child(4) {
  top: 388px;
  left: 907px;
}
body .stages .content-stages .box-stage:nth-child(4):after {
  content: "3";
  top: 164px;
  left: -24px;
}
body .stages .content-stages .box-stage:last-child {
  top: 655px;
  left: 566px;
}
body .stages .content-stages .box-stage:last-child:after {
  content: "5";
  top: 164px;
  left: -24px;
}
body .stages .content-stages .box-stage .box-text {
  margin-left: 40px;
}
body .stages .content-stages .box-stage .box-text .title-box-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 12px;
  color: #333333;
}
body .stages .content-stages .box-stage .box-text p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #4A4A4A;
}

/*# sourceMappingURL=home.css.map */
