@import "color";
@import "reset";
@import "general";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,400&display=swap');

body {
  header {
    width: 100%;
    height: 80px;
    background-color: white;

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      .logo {
        display: flex;
        width: 113px;
        height: 36px;
        margin-right: 102px;

      }


      .menu {
        display: flex;
        align-items: center;
        margin-right: 102px;

        ul {
          display: flex;

          li {
            align-items: center;
            margin-right: 24px;

            a {
              font-family: 'Montserrat';
              font-weight: 500;
              font-size: 14px;
              line-height: 20px;
              color: $tundora-black;
              text-decoration: none;

              &:hover {
                color: $mine_shaft;
              }

              &:active {
                color: $tango;
              }
            }
          }
        }
      }

      button {
        margin-right: 24px;
      }

    }
  }
  .banner {
    background-color: $tundora;
    min-height: 850px;

    .content-banner {
      padding: 150px 0 100px;
      display: flex;
      flex-direction: column;

      > * {
        max-width: 791px;
      }

      h1 {
        span {
          letter-spacing: 0.2px;
        }
      }

      button {
        margin-top: 32px;
        max-width: 370px;
      }
    }
  }

  .slader-our-work {
    margin-bottom: 60px;

    h3 {
      max-width: 1440px;
      text-align: center;
      margin-top: 120px;
      margin-bottom: 80px;
    }

    .slaider-group {
      position: relative;

      > button {
        width: 73px;
        height: 73px;
        background-color: $white;
        border: none;
        border-radius: 50%;
        position: absolute;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center;
        top: 299px;

        &.right-button {
          right: 22%;
          background-image: url("../image/our-works/right.svg");

          &:hover {
            background-image: url("../image/our-works/right-white.svg");
          }
        }

        &.left-button {
          left: 22%;
          background-image: url("../image/our-works/left.svg");

          &:hover {
            background-image: url("../image/our-works/left-white.svg");
          }
        }

        &:hover {
          background-color: $tango;

        }

      }

      .slider-bottom-controls {
        max-width: 10%;
        margin: auto;
        margin-top: 43px;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          width: 6px;
          height: 6px;
          background-color: $silver_chalice;
          border: none;
          border-radius: 50%;
          padding: 0;
          margin-right: 7px;
          margin-left: 7px;
          cursor: pointer;

          &.active-controls {
            width: 12px;
            height: 12px;
            background-color: #E97522;
          }
        }
      }
    }

    .images {
      display: flex;
      overflow: hidden;

      img {
        &.active {
          width: 40%;
          height: 618px;
          z-index: 1;

          &-left {
            width: calc(30% + 18px);
            height: 514px;
            margin-top: 53px;
            margin-right: -18px;

          }

          &-right {
            width: calc(30% + 18px);
            height: 514px;
            margin-top: 53px;
            margin-left: -18px;
          }
        }
      }
    }
  }

  .our-location {
    background-image: url("../image/our-location/Line.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -21px;
    h3 {
      max-width: 1440px;
      text-align: center;
      margin-top: 120px;
      margin-bottom: 80px;
    }
    .slaider-group {
      position: relative;
      button {
        width: 73px;
        height: 73px;
        background-color: $white;
        border: none;
        border-radius: 50%;
        position: absolute;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center;
        top: 128px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);

        &:hover {
          background-color: $tango;
        }

        &.right-button {
          right: -3%;
        }

        &.left-button {
          left: -3%;
        }
      }
      .images {
        display: flex;
        justify-content: space-between;
        margin-bottom: 56px;

        img {
          width: 33%;
          height: 349px;
          border-radius: 15px;
          &:nth-child(2) {
            margin: 0 26px;
          }
        }
      }
    }
    .buttons2 {
      display: block;
      margin: auto;
      padding: 14px 54px;
      margin-bottom: 80px;
    }
  }
  .video {
    h3 {
      max-width: 1440px;
      text-align: center;
      margin-top: 120px;
      margin-bottom: 80px;
    }
    iframe {
      margin-bottom: 80px;
    }
  }
}


